#ocean, #edge, #vibe, #predult, #adult, #slide {
  display: none;
}

.center {
  text-align: center;
}

#bullet {
  list-style-type: none;
}

.green {
  : 0 0 3px #49ff07;
  font-size: x-large;
  color: #49ff07;
}
.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
